<app-slider></app-slider>
<div class="main">
  <div class="container">
    <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SALE PRODUCT -->
      <div class="col-md-12 sale-product">
        <h2>New Arrivals</h2>
        <div class="row product-list">
          <!-- PRODUCT ITEM START -->
          <div class="col-md-3 col-sm-6 col-xs-12"
               *ngFor="let product of products; let i = index">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="assets/assets/pages/img/products/model{{i + 1}}.jpg"
                     class="img-responsive"
                     alt="Berry Lace Dress">
                <div>
                  <!--<a href="assets/assets/pages/img/products/model{{i + 4}}.jpg"-->
                  <!--class="btn btn-default fancybox-button">Zoom</a>-->
                  <a routerLink="/products/{{product._id}}"
                     class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a routerLink="/products/{{product._id}}">{{product.name}}</a></h3>
              <div class="pi-price">${{product.price}}</div>
              <a href="javascript:;"
                 class="btn btn-default add2cart">Add to cart</a>
            </div>
          </div>
          <!-- PRODUCT ITEM END -->
        </div>
      </div>
      <!-- END SALE PRODUCT -->
    </div>
    <!-- END SALE PRODUCT & NEW ARRIVALS -->

    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40 ">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-4">
        <ul class="list-group margin-bottom-25 sidebar-menu">
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Ladies</a>
          </li>
          <li class="list-group-item clearfix dropdown">
            <a href="shop-product-list.html">
              <i class="fa fa-angle-right"></i>
              Mens

            </a>
            <ul class="dropdown-menu">
              <li class="list-group-item dropdown clearfix">
                <a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Shoes </a>
                <ul class="dropdown-menu">
                  <li class="list-group-item dropdown clearfix">
                    <a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Classic </a>
                    <ul class="dropdown-menu">
                      <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Classic 1</a></li>
                      <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Classic 2</a></li>
                    </ul>
                  </li>
                  <li class="list-group-item dropdown clearfix">
                    <a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Sport </a>
                    <ul class="dropdown-menu">
                      <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Sport 1</a></li>
                      <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Sport 2</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Trainers</a></li>
              <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Jeans</a></li>
              <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Chinos</a></li>
              <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> T-Shirts</a></li>
            </ul>
          </li>
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i>
            Kids</a></li>
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i>
            Accessories</a></li>
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Sports</a>
          </li>
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Brands</a>
          </li>
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i>
            Electronics</a></li>
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Home &
            Garden</a></li>
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Custom
            Link</a></li>
        </ul>
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-8">
        <h2>Women</h2>
        <div class="row product-list">
          <!-- PRODUCT ITEM START -->
          <div class="col-md-4 col-sm-6 col-xs-12"
               *ngFor="let product of products; let i = index">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="assets/assets/pages/img/products/model{{i+1}}.jpg"
                     class="img-responsive"
                     alt="Berry Lace Dress">
                <div>
                  <a routerLink="/products/{{product._id}}"
                     class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a routerLink="/products/{{product._id}}">{{product.name}}</a></h3>
              <div class="pi-price">${{product.price}}</div>
              <a href="javascript:;"
                 class="btn btn-default add2cart">Add to cart</a>
            </div>
          </div>
          <!-- PRODUCT ITEM END -->
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->

    <!-- BEGIN TWO PRODUCTS & PROMO -->
    <div class="row margin-bottom-35 ">
      <!-- BEGIN TWO PRODUCTS -->
      <div class="col-md-12 two-items-bottom-items">
        <h2>Men</h2>
        <div class="row product-list">
          <!-- PRODUCT ITEM START -->
          <div class="col-md-3 col-sm-6 col-xs-12"
               *ngFor="let product of products; let i = index">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img src="assets/assets/pages/img/products/model{{i+1}}.jpg"
                     class="img-responsive"
                     alt="Berry Lace Dress">
                <div>
                  <a routerLink="/products/{{product._id}}"
                     class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a routerLink="/products/{{product._id}}">{{product.name}}</a></h3>
              <div class="pi-price">${{product.price}}</div>
              <a href="javascript:;"
                 class="btn btn-default add2cart">Add to cart</a>
            </div>
          </div>
          <!-- PRODUCT ITEM END -->
        </div>
      </div>
      <!-- END TWO PRODUCTS -->
    </div>
    <!-- END TWO PRODUCTS & PROMO -->
  </div>
</div>
