<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/img/user2-160x160.jpg"
             class="img-circle"
             alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Admin</p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#"
          method="get"
          class="sidebar-form">
      <div class="input-group">
        <input type="text"
               name="q"
               class="form-control"
               placeholder="Search...">
        <span class="input-group-btn">
                <button type="submit"
                        name="search"
                        id="search-btn"
                        class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">HEADER</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="active"><a routerLink="/"><i class="fa fa-home"></i>
        <span>Dashboard</span>
      </a></li>
      <li class="treeview">
        <a href="#"><i class="fa fa-paper-plane"></i>
          <span>Products</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/products"><i class="fa fa-eye"></i> View Products</a>
          </li>
          <li>
            <a routerLink="/products/create"><i class="fa fa-plus"></i> Create Products</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-paper-plane"></i>
          <span>Category</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/categories"><i class="fa fa-eye"></i> View Category</a>
          </li>
          <li>
            <a routerLink="/categories/create"><i class="fa fa-plus"></i> Create Category</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-paper-plane"></i>
          <span>Sub Category</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/subcategories"><i class="fa fa-eye"></i> View Sub - Category</a>
          </li>
          <li>
            <a routerLink="/subcategories/create"><i class="fa fa-plus"></i> Create Sub - Category</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-paper-plane"></i>
          <span>Brands</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/brands"><i class="fa fa-eye"></i> View Brand</a>
          </li>
          <li>
            <a routerLink="/brands/create"><i class="fa fa-plus"></i> Create Brand</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-paper-plane"></i>
          <span>Customer</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLink="/users"><i class="fa fa-eye"></i> View Users</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
