<!-- BEGIN TOP BAR -->
<div class="pre-header">
  <div class="container">
    <div class="row">
      <!-- BEGIN TOP BAR LEFT PART -->
      <div class="col-md-6 col-sm-6 additional-shop-info">
      </div>
      <!-- END TOP BAR LEFT PART -->
      <!-- BEGIN TOP BAR MENU -->
      <div class="col-md-6 col-sm-6 additional-nav">
        <ul class="list-unstyled list-inline pull-right">
          <!--<li><a routerLink="my-account" *ngIf="user?.personalDetails.firstName">My Account</a></li>-->
          <!--<li><a routerLink="wishlist">My Wishlist</a></li>-->
          <li><a routerLink="checkout" *ngIf="user?.personalDetails.firstName">Checkout</a></li>
          <li><a routerLink="login" *ngIf="!user?.personalDetails.firstName">Log In</a></li>
          <li><a (click)="onLogout()" *ngIf="user?.personalDetails.firstName">Log Out</a></li>
        </ul>
      </div>
      <!-- END TOP BAR MENU -->
    </div>
  </div>
</div>
<!-- END TOP BAR -->
